<div id="pause" *ngIf="isLoading" class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
</div>

<div class="row">
    <h6>Add Desigs</h6>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-2 col-sm-offset-1">
                <form [formGroup]="form">
                    <div class="form-group">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="title">Design Name</label>
                                <input type="text" class="form-control" id="title" formControlName="title">
                            </div>
                        </div>
                        <label for="file">Images</label>
                        <ngx-dropzone [multiple]="true" (change)="onSelect($event)">
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files;let i=index" [file]="f" [removable]="true" (removed)="onRemove(f,i)">
                                <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                            </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="row">
                        <ng-container *ngFor="let f of newItem;let i=index;">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="title">Image {{i+1}} Keyword</label>
                                    <select type="text" class="form-control" id="title" [(ngModel)]="f.imageInspirationType" [ngModelOptions]="{standalone: true}">
                                        <option value="1">All</option>
                                        <option value="2">Living</option>
                                        <option value="3">Dining</option>
                                        <option value="4">Bedroom</option>
                                        <option value="5">Bathroom</option>
                                        <option value="6">Kitchen</option>
                                        <option value="7">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="title">Area Range for Image {{i+1}}</label>
                                    <select type="text" class="form-control" id="title" [(ngModel)]="f.areaRange" [ngModelOptions]="{standalone: true}">
                                        <option value="30-50">30-50sqm</option>
                                        <option value="51-80">51-80sqm</option>
                                        <option value="81-120">81-120sqm</option>
                                        <option value="121-180">121-180sqm</option>
                                        <option value="181-250">181-250sqm</option>
                                        <option value="251-350">251-350sqm</option>
                                        <option value="351-500">351-500sqm</option>
                                        <option value="501-700">501-700sqm</option>
                                        <option value="701-900">701-900sqm</option>
                                        <option value="901-150000">951sqm & more</option>
                                    </select>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="title">Trending Types</label>
                                <ng-select formControlName="trendingTypes" [multiple]="true">
                                    <ng-option *ngFor="let data of trendingData" [value]="data.id">{{data.title}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="title">Property Type</label>
                                <ng-select formControlName="propertyTypeId">
                                    <ng-option *ngFor="let data of propertytypeIDs" [value]="data.id">{{data.title}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="title">Package Includes</label>
                                <tag-input formControlName="packageIncludes"></tag-input>
                                <!-- <input type="text" class="form-control" id="packageIncludes" > -->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="title">Price</label>
                                <input type="text" class="form-control" id="price" formControlName="price">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <angular-editor [placeholder]="'Enter text here...'" formControlName="description" [config]="editorConfig"></angular-editor>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button class="btn btn-primary" (click)="submitDesigs()">submit</button>
    </div>
</div>