<div id="pause" *ngIf="isLoading" class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
</div>
<div class="d-flex">
    <i class="fa fa-file fa-2x"></i> &nbsp;
    <h3>Trending</h3>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item active" aria-current="page">Trending</li>
    </ol>
</nav>

<div class="row">
    <div class="mb-3">
        <button class="btn btn-success f-right" (click)="openModal(0)" type="submit">Add Trending</button>
    </div>
    <div class="col-12 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Trending Image
                    </th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listDetails | paginate : count ;let i = index">
                    <td>
                        <img src="{{item.image?item.image:'assets/img/user.jpg'}}" alt="">
                    </td>
                    <td>{{item?.title}}</td>
                    <td>{{item.type==0 ? 'Scandinavian': item.type==1 ? 'Minimalist' : item.type==2 ? 'Modern' : item.type==3 ? 'Contemporary' : 'Industrial'}}</td>
                    <td>
                        <p class="description">{{item?.description}}</p>
                    </td>
                    <td>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class='fa fa-bars'></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" (click)="delete(item)">Delete</a></li>
                                <!-- <hr class="dropdown-divider"> -->
                                <li><a class="dropdown-item" (click)="openModal(item)">Update</a></li>
                            </ul>
                        </li>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
<div class="row">
    <modal #myModal>
        <modal-header>
            <h6>{{addUpdate}} Trending</h6>
        </modal-header>
        <modal-content>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-2 col-sm-offset-1">
                        <form [formGroup]="form">
                            <div class="form-group">
                                <label for="file">Trendings Image</label>
                                <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                        <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>

                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="title" class="form-control" id="title" formControlName="title">
                            </div>
                            <div class="form-group">
                                <label for="title">Trending type</label>
                                <select type="text" class="form-control" id="title" formControlName="type">
                                    <option value="0">Scandinavian</option>
                                    <option value="1">Minimalist</option>
                                    <option value="2">Modern</option>
                                    <option value="3">Contemporary</option>
                                    <option value="4">Industrial</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <angular-editor [placeholder]="'Enter text here...'" formControlName="description" [config]="editorConfig"></angular-editor>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="submitBlog()">submit</button>
            <button class="btn btn-secondary ml-2" (click)="closeModal()">close</button>
        </modal-footer>
    </modal>
</div>