<div class="d-flex">
    <i class="fa fa-home fa-2x"></i> &nbsp;
    <h3>Dashboard</h3>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Dashboard</li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard-details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        <p>Sr. No.</p>
                    </th>
                    <th scope="col">Population per day</th>
                    <th scope="col">Population percentage per 7 days</th>
                    <th scope="col">Population percentage</th>
                    <th scope="col">Total Cases</th>
                </tr>
            </thead>


            <tbody>
                <tr *ngFor="let item of listDetails | paginate : count ;let i = index">

                    <td>{{i + 1}}</td>
                    <td>{{item.outcomes.death.total.calculated.change_from_prior_day}}</td>
                    <td>{{item.outcomes.death.total.calculated.seven_day_change_percent}} %</td>
                    <td>{{item.outcomes.death.total.calculated.population_percent}} %</td>
                    <td>{{item.outcomes.death.total.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>