ul {
    padding-left: 0;
    li {
        margin: 1rem 0rem;
        padding: 0.5rem 0.5rem;
        list-style: none;
        cursor: pointer;
        a {
            text-decoration: none;
        }
    }
    li.active {
        background: #4da0fc;
        color: #fff;
    }
    .version {
        position: absolute;
        bottom: 60px;
        left: 30px;
    }
}