<ul>
    <li class="nav-item" routerLink="/dashboard" routerLinkActive="active">
        <i class="fa fa-home"></i> &nbsp;
        <a>Dashboard</a>
    </li>
    <li class="nav-item" routerLink='/users' routerLinkActive="active">
        <i class="fa fa-user"></i> &nbsp;
        <a>Users</a>
    </li>
    <li class="nav-item" routerLink='/blogs' routerLinkActive="active">
        <i class="fa fa-th-large"></i> &nbsp;
        <a>Blogs</a>
    </li>
    <li class="nav-item" routerLink='/enquiry' routerLinkActive="active">
        <i class="fa fa-book" aria-hidden="true"></i> &nbsp;
        <a>Enquiry</a>
    </li>
    <li class="nav-item" routerLink='/advertisement' routerLinkActive="active">
        <i class="fa fa-adn" aria-hidden="true"></i> &nbsp;
        <a>Advertisement</a>
    </li>
    <li class="nav-item" routerLink='/videos' routerLinkActive="active">
        <i class="fa fa-youtube-play" aria-hidden="true"></i> &nbsp;
        <a>Video</a>
    </li>
    <li class="nav-item" routerLink='/inspirations' routerLinkActive="active">
        <i class="fa fa-youtube-play" aria-hidden="true"></i> &nbsp;
        <a>Inspirations</a>
    </li>
    <li class="nav-item" routerLink='/trending' routerLinkActive="active">
        <i class="fa fa-youtube-play" aria-hidden="true"></i> &nbsp;
        <a>Trending</a>
    </li>

    <li class="nav-item dropdown">
        <i class="fa fa-cog" aria-hidden="true"></i> &nbsp;
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Master Data
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Privacy policy</a></li>
            <li><a class="dropdown-item">Terms and document</a></li>

        </ul>
    </li>
</ul>